
.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-color: #3c3c3c;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.app-menu {
    width: 100%
}

.breadcrumb {
    background-color: Transparent;
    margin-bottom: 0;
}

.app-controlpanel {
    z-index: 9999;
}

.app-menu .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .app-menu .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .app-menu .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .app-menu .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .app-menu .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .app-menu .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: auto;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .app-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .breadcrumbs {
        position: fixed;
        left: 275px;
        top: 0;
        z-index: 3
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 1
    }

    .main .top-row {
        position: sticky;
        top: 0;
        z-index: 2
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .main > .container {
        margin-top: 30px;
    }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@media (max-width: 767px) {
    .app-logo {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .breadcrumbs {
        position: fixed;
        top: 150px;
        width: 100%;
        left: 0;
        z-index: 1;
    }

    .sidebar {
        margin-top: 3.5rem;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    .main .top-row {
        z-index: 2;
    }

    .main > .top-row.px-4 {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    .ml-md-auto {
        margin-left: auto;
    }

    .main > .container {
        margin-top: 200px;
    }
}


/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #311c5e;
    background-color: #dad0f1;
    border-color: #cec1ec;
}

    .alert-primary hr {
        border-top-color: #bfade6;
    }

    .alert-primary .alert-link {
        color: #1c1037;
    }

.badge-primary {
    color: #fff;
    background-color: #6239bd;
}

    .badge-primary[href]:hover, .badge-primary[href]:focus {
        color: #fff;
        background-color: #4d2d95;
    }

.bg-primary {
    background-color: #6239bd !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #4d2d95 !important;
}

.border-primary {
    border-color: #6239bd !important;
}

.btn-primary {
    color: #fff;
    background-color: #6239bd;
    border-color: #6239bd;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #5330a1;
        border-color: #4d2d95;
    }

    .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(98, 57, 189, 0.5);
    }

    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #6239bd;
        border-color: #6239bd;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #4d2d95;
        border-color: #47298a;
    }

        .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(98, 57, 189, 0.5);
        }

.btn-outline-primary {
    color: #6239bd;
    background-color: transparent;
    border-color: #6239bd;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #6239bd;
        border-color: #6239bd;
    }

    .btn-outline-primary:focus, .btn-outline-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(98, 57, 189, 0.5);
    }

    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: #6239bd;
        background-color: transparent;
    }

    .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #6239bd;
        border-color: #6239bd;
    }

        .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(98, 57, 189, 0.5);
        }

.list-group-item-primary {
    color: #311c5e;
    background-color: #cec1ec;
}

    .list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
        color: #311c5e;
        background-color: #bfade6;
    }

    .list-group-item-primary.list-group-item-action.active {
        color: #fff;
        background-color: #311c5e;
        border-color: #311c5e;
    }

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #cec1ec;
}

.table-hover .table-primary:hover {
    background-color: #bfade6;
}

    .table-hover .table-primary:hover > td,
    .table-hover .table-primary:hover > th {
        background-color: #bfade6;
    }

.text-primary {
    color: #6239bd !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #4d2d95 !important;
}

a {
    color: #6239bd;
}

    a:hover, a:focus {
        color: #4d2d95;
    }
